# OS
.DS_Store

# Node / React
node_modules/
dist/
.env
.env.local

# Java / Spring / Maven / Gradle
target/
build/
*.class
.mvn/
!**/src/main/**/target/
!**/src/test/**/target/

# IDEs
.idea/
*.iml
.vscode/*
!.vscode/extensions.json

# Docker
*.log
